name: build

on: [push]

jobs:
  build-ubuntu:
    runs-on: ubuntu-latest

    steps:
    # Needed because of: migrations_macros v1.4.2
    # note: /usr/bin/ld: cannot find -lsqlite3
    - name: Install sqlite
      run: sudo apt-get install libsqlite3-dev
    - uses: actions/checkout@v2

    - run: cargo build
    - run: cargo test

  build-macos:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v1
    - name: Build
      run: cargo build 
    - name: Run tests
      run: cargo test

  build-windows:
    runs-on: windows-latest
    steps:
    - name: Install SQLite using Chocolatey
      run: choco install sqlite
    - uses: actions/checkout@v1
    - name: Build
      run: cargo build 
    - name: Run tests
      run: cargo test
