name: build

on: [push]

jobs:
  # ubuntu:
  #   runs-on: ubuntu-latest
  #   steps:
  #   # Needed because of: migrations_macros v1.4.2
  #   # note: /usr/bin/ld: cannot find -lsqlite3
  #   - name: Install sqlite
  #     run: sudo apt-get install libsqlite3-dev
  #   - uses: actions/checkout@v2

  #   - run: cargo build
  #   - run: cargo test

  # macos:
  #   runs-on: macos-latest
  #   steps:
  #   - uses: actions/checkout@v1
  #   - name: Build
  #     run: cargo build 
  #   - name: Run tests
  #     run: cargo test

  windows:
    runs-on: windows-latest
    env: 
      SQLITE3_LIB_DIR: "C:\\sqlite"
    steps:
    - name: "Install SQLite"
      shell: cmd
      run: .github/install-sqlite.bat
          # mkdir C:\sqlite
          # CD /D C:\sqlite
          # curl -fsS --retry 3 --retry-connrefused -o sqlite3.zip https://sqlite.org/2017/sqlite-dll-win64-x64-3160200.zip
          # 7z e sqlite3.zip -y
          # call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Auxiliary\Build\vcvars64.bat"
          # lib /machine:x64 /def:sqlite3.def /out:sqlite3.lib
          # set PATH=%PATH%;C:\sqlite
    - uses: actions/checkout@v1
    # - name: Build
    #   run: cargo build 
    - name: Run tests
      env: 
        SQLITE3_LIB_DIR: "C:\\sqlite"
      run: cargo test -- --nocapture
