name: build

on: [push]

jobs:
  # TODO: enable whent windows job is working
  # build-ubuntu:
  #   runs-on: ubuntu-latest

  #   steps:
  #   # Needed because of: migrations_macros v1.4.2
  #   # note: /usr/bin/ld: cannot find -lsqlite3
  #   - name: Install sqlite
  #     run: sudo apt-get install libsqlite3-dev
  #   - uses: actions/checkout@v2

  #   - run: cargo build
  #   - run: cargo test

  # build-macos:
  #   runs-on: macos-latest
  #   steps:
  #   - uses: actions/checkout@v1
  #   - name: Build
  #     run: cargo build 
  #   - name: Run tests
  #     run: cargo test

  build-windows:
    runs-on: windows-latest
    env: 
      SQLITE3_LIB_DIR: "C:\sqlite"
    steps:
    - name: "Install SQLite"
      shell: cmd
      run: |
          mkdir C:\sqlite
          CD /D C:\sqlite
          curl -fsS --retry 3 --retry-connrefused -o sqlite3.zip https://sqlite.org/2017/sqlite-dll-win64-x64-3160200.zip
          7z e sqlite3.zip -y
          call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Auxiliary\Build\vcvars64.bat"
          lib /machine:x64 /def:sqlite3.def /out:sqlite3.lib
          set PATH=%PATH%;C:\sqlite
          echo "##vso[task.setvariable variable=PATH;]%PATH%;C:\sqlite"
    - uses: actions/checkout@v1
    # TODO: enable when test working
    # - name: Build
    #   run: cargo build 
    - name: Run tests
      run: cargo test
